body
{
  background-color:lightslategray;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}


#quote-box
{
  
  border-radius : 2%;
  width :fit-content;
  padding : 50px 30px 50px 30px;
  background-color : #fff;
  position : relative;
}
#author
{
  height: auto;
  text-align: right;
  font-size: 20px;
  color: lightslategray;
}

#text
{
    text-align: center;
    width: 450px;
    height: auto;
    font-size: 1.75em;
    color: lightslategray;
  
}
#tweet-quote
{
  color: white;

    text-align: center;
    font-size: 1.2em;
    margin-right: 5px;
    height: 30px;
    width: 40px;
    float : left;
    transition-duration: 0.4s;
    border-radius: 3px;
    background-color: lightslategray; 
    
}
#tweet-quote:hover
{
  opacity: 0.7;
}
#btn
{
  float: right;
  text-align: center;
  border-radius: 3px;
  padding: 6px;
  color: #fff;
  transition-duration: 0.4s;
  border: none;
  background-color: lightslategray; 

  
}
#btn:hover
{
  opacity: 0.7;
}
#tumb
{
  color: white;
  text-align: center;
  font-size: 1.2em;
  margin-right: 5px;
  height: 30px;
  width: 40px;
  float : left; 
  background-color: lightslategray; 
  transition-duration: 0.4s;
  border-radius: 3px;
}
#tumb:hover
{
  opacity: 0.7;
}
#quote-box .buttons
{
  margin : auto;
  display: block;
  width: 470px;
  padding-top : 50px;
}
#qt
{ 
  margin: 5px; 
}